body, h1, h2, h3, p, div, ol, ul, input, button {
    margin: 0;
    padding: 0;
    font-family:"微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif;
}
body{
    min-width:300px;
    font-size:18px;
}
.gray_color{
    background-color:#ffffff;
}
input, button, textarea {
    border: 0;
    border-radius: 0;
    background: transparent;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a{text-decoration:none;}
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
#index_header {
    width: 100%;
    height: 53px;
    line-height:52px;
    opacity: 1;
    box-sizing: border-box;
    text-align:center;
}
#index_top {
    width: 100%;
    height: 53px;
    line-height:52px;
    opacity: 1;
    box-sizing: border-box;
    text-align:center;
}
#index_body{
    width: 100%;
    opacity: 1;
    box-sizing: border-box;
}
#index_body .search{
    margin:0px 16px 30px;
    height: 45px;
    background: #fff;
    display: -webkit-box;
    border: 1px solid #3385ff;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .03);
    border-radius: 2px;
}
.index-bn {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 82px;
    height: 45px;
    background: #3385ff;
    color: #fff;
    white-space: nowrap;
    line-height: 45px;
    letter-spacing: -1px;
    font-size: 16px;
    border-top: 1px solid #3385ff;
    border-bottom: 1px solid #3385ff;
    box-sizing: inherit;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-shadow: none;
}
.search .adjust-input {
    position: relative;
    margin: 0 -74px 0 0;
    line-height: 29px;
    word-break: break-all;
    word-wrap: break-word;
}
.search .se-inner {
    width: 82px;
    position: relative;
}
.search .se-input {
    display: block;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    padding: 7px 42px 7px 6px;
    height: 45px;
    line-height: 28px;
    resize: none;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    box-flex:1.0;
    -webkit-box-flex: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 18px;
}
.index_nav_list{
    padding:0px 2% 0 2%;
}
.section header, section header {
    line-height: 4rem;
    overflow: hidden;
    margin: 0 -2% 2% -2%;
    padding-left: 2%;
    border-bottom: 1px solid #eaebed;
}
.section, section {
    padding: 0 3.61111111% 3.61111111%;
    margin-bottom: 3.61111111%;
    background: #fff;
    border: 1px solid #eaebed;
    border-radius: 3px;
}
section h2 {
    font-size: 18px;
}
.section header h2 img, section header h2 img {
    display: inline-block;
    width: 20px;
    padding: 24px 0;
    margin-right: 3.61111111%;
    float: left;
}
.section h3, section h3, .section h5, section h5 {
    font-size: 1.33333333rem;
    line-height: 3.55555556rem;
    color: #000;
    font-weight: normal;
}
.section h3::before, section h3::before {
    border-left: 3px solid #3385ff;
    margin-right: 1.66666667%;
    margin-top: 1.24444444rem;
    content: '';
    float: left;
    height: 1.06666667rem;
}
.table-navi, .list-navi {
    border-collapse: separate;
    margin: 0 -3.61111111%;
    width: 107.22222222%;
}
.table-navi tr, .list-navi tr {
    width: 100%;
}
.table-navi td, .list-navi td {
    width: 25%;
}
.table-navi td a, .list-navi td a, .table-navi li a, .list-navi li a {
    display: block;
    line-height: 3.55555556rem;
    text-align: center;
    color: #666666;
}

hr {
    border: solid #eaebed;
    border-width: 1px 0 0 0;
    margin: 0;
    height: 1px;
}
#view_header {
    width: 100%;
    height: 53px;
    line-height:52px;
    background: #f5f5f5;
    opacity: 1;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    text-align:center;
	overflow:hidden;
}
#view_header a.icon{
    display:block;
    width:10%;
    text-decoration:none;
	color:#3385ff;
}
#view_header .title{
    width:80%;
}
#view_top {
    width: 100%;
    height: 43px;
    line-height: 42px;
    background: #ffffff;
    opacity: 1;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
}
#view_body{
    width: 100%;
    background: #ffffff;
    opacity: 1;
    box-sizing: border-box;
}
#view_body .check_title{
    padding:10px;
}

#view_body .check_title p{
    line-height:38px;
}

#view_body .check_list li{
    list-style:none;
    line-height:50px;
    padding:0 10px;
}
#view_body .check_list li:nth-of-type(odd){/*奇数行*/
    background: #f5f5f5;
}
#view_body .check_list li:nth-of-type(even){/*偶数行*/
    background: #ffffff;
}
#view_body .check_list .check_pre{
    display:block;
    color:#ffffff;
    float:left;
    background:#cccccc;
    height:30px;
    line-height:30px;
    width:30px;
    margin:10px 0 0 0;
    text-align:center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#view_body .page_prev,#view_body .page_next{
    width:45%;
    padding:10px 5px 20px;
}
#view_body a,#view_body a:visited h4{
    color:#333;
}
.show_btn{
    padding:20px 10px 10px 10px;
    background: #f5f5f5;
}
#view_body .show_btn a{
	color:#fff;
}
#view_answer{
    padding:10px 10px 10px 10px;
    width: 100%;
    background: #f5f5f5;
    opacity: 1;
    box-sizing: border-box;
}
#view_answer{
    width: 100%;
    background: #f5f5f5;
    opacity: 1;
    box-sizing: border-box;
}
#view_answer .answer_show{
    width: 100%;
    background:#ffffff;
    opacity: 1;
    box-sizing: border-box;
}
#view_answer .answer_type{
    width:100%;
    text-align:center;
}
#view_answer .answer_type .answer_check{
    width:25%;
    color:#ffffff;
    height:50px;
    line-height:50px;
    float:left;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;-moz-border-top-left-radius: 20px;
    -moz-border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#view_answer .answer_error{
    background:#f35f45;
}
#view_answer .answer_true{
    background:#3385ff;
}
#view_answer .answer_type .answer_correction{
    width:30%;
    height:50px;
    line-height:50px;
    float:right;
    background:#dbdbdb;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;-moz-border-top-left-radius: 20px;
    -moz-border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#view_answer .answer_show{
    clear:both;
    border:1px solid #dddddd;
    text-align:center;
    padding:10px 0;
}
#view_answer .answer_show .answer_ok{
    width:50%;
    float:left;
    line-height:30px;
    border-right:1px solid #dddddd;
}
#view_answer .answer_show .answer_tag{
    font-size:16px;
    color:#8a8a8a;
}
#view_answer .answer_show .answer_my{
    width:50%;
    float:right;
    line-height:30px;
    margin-left:-1px;
}
#view_answer .answer_analysis{
    margin-top:10px;
    border:1px solid #dddddd;
    background: #ffffff;
    padding:10px;
    font-size:16px;
}
#view_answer .answer_analysis{
    margin-top:10px;
    border:1px solid #dddddd;
    background: #ffffff;
    padding:10px;
    font-size:16px;
}
#view_answer .answer_analysis .difficulty,#view_answer .answer_analysis .analysis{
    line-height:24px;
}
#view_answer .answer_analysis .label{
    color:#8a8a8a;
}
.clear{
    clear:both;
    width:100%;
}
#foot_heidden {
    width: 100%;
    height: 53px;
    hidden:hidden;
    border-top: 1px solid #dddddd;
    box-sizing: border-box;
}
#view_foot {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 53px;
    line-height: 53px;
    text-align:center;
    background: #ffffff;
    opacity: 1;
    border-top: 1px solid #dddddd;
    box-sizing: border-box;
}
#view_foot a.icon{
    display:block;
    width:25%;
    text-decoration:none;
    color:#3385ff;
}
/*main 部分开始*/
.main_header{
    width: 100%;
    height: 53px;
    line-height:52px;
    text-align:center;
}
.main_header a.icon{
    display:block;
    width:10%;
    text-decoration:none;
}
.main_banner{
    height:220px;
}
.main_banner .bg_img{
    width:100%;
    height:220px;
    position:absolute;
    top:0;
    z-index:-1;
}
.main_banner .userinfo{
    z-index:2;
}
.main_banner .bg_img img{
    width:100%;
    height:220px;
}
.main_banner .myphoto{
    width: 100px;
    margin: 0 auto;
    padding: -10px 0 20px;
}
.main_banner .myphoto .imgwrap{
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
    padding: 3px;
}
.main_banner .myphoto .imgwrap img{
    border-radius: 50%;
}
.main_banner .userinfo .nickname{
    width:100%;
    text-align:center;
    margin-top:16px;
}
.main_top{
    width: 100%;
    height: 53px;
    line-height: 42px;
    background: #ffffff;
    opacity: 1;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
}
.main_body{
    overflow: hidden;
    text-align:center;
}
.main_body a.icon{
    display:block;
    width:25%;
    text-decoration:none;
    font-size:36px;
    color:#818181;
    padding:10px 0 10px 0;
    margin:0 -1px 0 -1px;
    border:1px solid #eee;
}
.main_body a.icon i{
    display:block;
}
.main_body a .icon_title{
    font-size:16px;
    color:#818181;
    display:block;
}
.main_footer{
    height:40px;
    line-height:40px;
}
.login_body{
    
}
.login_button{
    margin-top:30px;
}
/*main 部分结束*/
.about{
	padding:10px;
	font-size:14px;
	text-indent: 2em;
	margin-bottom:20px;
}
.contact-item{
	width:100%;
	padding:35px 0px;
	float:left;
	background-color: #fafbfc;
    vertical-align: top;
	margin-top:10px;
	line-height:34px;
}
.about .contact-item .title{
	font-size:18px;
	font-weight:600;
}
.about h2{
	font-size:18px;
}
.about .content{
	line-height:28px;
}
.about .essaytitle {
    text-indent: 0em;
}

.view_body em {
    font-style: normal;
    color: #c00;
}
.table-navi a{font-size:16px;}
/*摘出微信部分*/
.weui-panel__hd {
    padding: 14px 15px 10px;
    color: #999999;
    font-size: 13px;
}
.weui-media-box {
    padding: 15px;
	border-bottom: 1px solid #eee;
}
.weui-media-box_text .weui-media-box__title {
    margin-bottom: 8px;
	margin-top: 0px;
}
.weui-media-box__desc {
    color: #999999;
    font-size: 13px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.weui-media-box__title {
    font-weight: 400;
    font-size: 17px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-wrap: break-word;
    word-break: break-all;
}
.weui-cell:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    left: 15px;
}
.weui-btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 2.55555556;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}
.weui-btn_plain-primary {
    color: #3385ff;
    border: 1px solid #3385ff;
}
.weui-panel__ft{height:80px;}
.weui-footer {
    color: #999999;
    font-size: 14px;
    text-align: center;
}
.weui-footer__text {
    padding: 0 .34em;
    font-size: 12px;
}
.weui-btn_primary {
    background-color: #459df5;
    color: #fff;
}
.main_footer{border-top: 1px solid #E5E5E5;}
.view_top_name{padding-left:15px;}
/*文章阅读下方*/
.recentArticle {
    padding: 0 16px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
	margin-bottom:0px;
}
.recentArticle h2 {
    font-size: 16px;
    line-height: 1;
    padding: 14px 0 13px 0;
    color: #999;
    border-bottom: .01px solid #e6e6e6;
    position: relative;
}
.recentArticle h2::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 76px;
    background-color: #38f;
    left: 0;
    top: 100%;
}
.recentArticle ul {
    list-style: none;
}
.recentArticle li {
    border-bottom: 1px solid #f0f0f0;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
}
.recentArticle a {
    box-sizing: border-box;
    padding: 14px 0;
    display: block;
    color: #333;
    overflow: hidden;
}
.recentArticle a span {
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
	height: 20px;
    line-height: 20px;
}
/*颜色定义*/
.gray{color:#cccccc;}
.red{color:#f35f45;}
.green{color:#3385ff;}

.bg_gray{background:#cccccc;}
.bg_red{background:#f35f45;}
.bg_green{background:#3385ff;}

.float_l{float:left;}
.float_r{float:right;}
.size16{font-size:16px;}
.size18{font-size:18px;}
.size20{font-size:20px;}
.size22{font-size:22px;}
.size24{font-size:24px;}
.clearfix{width:100%;clear:both;}
.dnone{display:none}
.footer {
    background: #f9f9f9;
    color: #b2b2b2;
    font-size: .75rem;
    padding: 1rem 0 0 0;
    text-align: center;
    line-height: 1.5625rem;
}
.footer .links a {
    color: #b2b2b2;
}
.footer .pcs:before, .footer .reply:after {
    content: "";
    background: #d5d5d5;
    width: 1px;
    height: 20px;
    display: inline-block;
    vertical-align: -7px;
    font-size: 1em;
    color: #d5d5d5;
    margin: 0 1rem;
}
#view_answer .analysis p{
	line-height:36px;
	text-indent: 2em;
}